.section-block {
  @include paddingTopBottom(40px);
  padding-bottom: 100px;
  background-color: $sectionColor;
}

.section-block h1 {
  margin-bottom: 40px;
}

.app-canvas {
  display: flex;
  justify-content: space-between;
  height: 600px;
  width: 100%;
  background-color: $canvasColor;
  padding: 15px;
  // border: 1px solid #bcbcbc;
}

.app-controls {
  display: flex;
  flex-basis: 25%;
  flex-direction: column;
  // border: 1px solid #bcbcbc;

}

.app-window {
  flex-basis: 70%;
  position: relative;
  // border: 1px solid #bcbcbc;
}

.map-city-search {
  flex: 1;
}

.map-results-container {
  flex: 5;
  width: 100%;
  overflow-y: scroll;
}
