.section-block {
  @include paddingTopBottom(40px);
  padding-bottom: 100px;
  background-color: $sectionColor;
}

.section-block h1 {
  margin-bottom: 40px;
}

.app-canvas {
  display: flex;
  justify-content: space-between;
  height: 600px;
  width: 100%;
  background-color: $canvasColor;
  padding: 15px;
  flex-direction: row;

  @include tablet {
    flex-direction: column;
    height: 1200px;
  }

  @include mobile {
    flex-direction: column;
    height: 1200px;
  }
  // border: 1px solid #bcbcbc;
}

.app-controls {
  flex-basis: 30%;
  position: relative;

  @include tablet {
    flex-basis: 600px;
  }

  @include mobile {
    flex-basis: 600px;
  }
  // border: 1px solid #bcbcbc;

}

.app-window {
  flex-basis: 70%;
  position: relative;
  // border: 1px solid #bcbcbc;

  @include tablet {
    flex-basis: 600px;
  }

  @include mobile {
    flex-basis: 600px;
  }
}

.map-city-search {
  flex: 1;
}

.map-results-container {
  flex: 5;
  width: 100%;
  margin-top: 20px;
  overflow-y: scroll;
}

.search-controls {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.radio-options {
  margin-top : 10px;
}

.radio-options input {
  margin-right: 7px;
}